<div class="modal-dialog">
    <div class="modal-content">
        {{ form_ajax('onLeave') }}
            <input type="hidden" name="message_id" value="{{ message_id }}" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    <strong>Confirm</strong> leaving conversation
                </h4>
            </div>
            <div class="modal-body text-center">
                Do you really want to leave this conversation?
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Leave" />
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        {{ form_close() }}
    </div>
</div>