{% if conversations.count %}
    {% for conversation in conversations %}
        {% set message = conversation.message %}
        {% set users = conversation.users %}

        <li class="entry{% if message.updated_at > conversation.last_viewed %} new{% endif %}">
            <a href="{{ messagePage }}/{{ conversation.slug }}">
                <div class="media">
                    <!-- show user image -->
                    <img
                        src="{{ conversation.getLastMessage.user.getAvatarThumb('32') }}"
                        class="media-object img-rounded pull-left"
                        alt="{{ conversation.getLastMessage.user.name }}"
                    />

                    <!-- show content -->
                    <div class="media-body">
                        <strong>{{ conversation.getLastMessage.user.name }}
                            <small>({{ users.count }}) recipients</small>
                        </strong>
                        <h5>{{ conversation.title }}</h5>
                        {{ conversation.getLastMessage.content }}
                        <br/>
                        <time class="time" datetime="{{ conversation.updated_at }}">{{ conversation.updated_at }}</time>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
{% else %}
    <li class="placeholder">There are no messages yet.</li>
{% endif %}