<div class="modal-dialog">
    <div class="modal-content">
        {{ form_ajax('onAddMessage') }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">New message</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Recipient(s) <span class="required">*</span></label>
                    <select name="recipients[]" class="form-control custom-select" multiple>
                        {% for user in users %}
                            <option value="{{ user.id }}" data-image="{{ user.getAvatarThumb('20') }}">{{ user.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="new_message_subject">Subject <span class="required">*</span></label>
                    <input type="text" class="form-control" name="subject" id="new_message_subject" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="new_message_body">Message <span class="required">*</span></label>
                    <textarea class="form-control" name="body" rows="5" id="new_message_body"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Send</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        {{ form_close() }}
    </div>
</div>