<div class="btn-group">
    <a href="#" id="icon-messages" class="dropdown-toggle" data-toggle="dropdown" data-request="onRecent">
        <i class="fa fa-envelope"></i>
    </a>
    <span
        id="badge-messages"
        style="display:none;"
        class="label label-danger label-notification"></span>
    <ul class="dropdown-menu dropdown-messages">
        <li class="dropdown-header">
            <div class="arrow"></div> Messages
            <a
                class="btn btn-info btn-xs"
                data-handler="onInit"
                data-control="ajax-modal"
                data-update-partial="messageNotifications::create_message"
                id="create-message-button">
                New message
            </a>
        </li>
        <li>
            <ul id="dropdown-messages" class="media-list"></ul>
        </li>
        <li>
            <div class="dropdown-footer">
                <a class="btn btn-default col-md-12" href="{{ messagesPage }}">Show all messages</a>
            </div>
        </li>
    </ul>
</div>
{% put scripts %}
<script>
    // load number of new messages at page loading
    getMessageCount();

    // load number of new messages in a loop
    setInterval(getMessageCount, 30000);

    function getMessageCount() {
        $.request("onNewMessagesCount", {
            success: function(data) {
                var $el = $('#badge-messages');

                if (data.count == 0) {
                    $el.css('display', 'none');
                }
                else {
                    $el.html(data.count).fadeIn('fast');
                }
            }
        });
    }
</script>
{% endput %}