{% if userMessages.count %}
    {% for userMessage in userMessages %}
        {% set conversation = userMessage.conversation %}
        {% set users = conversation.users %}

        <li class="entry{% if conversation.updated_at > userMessage.last_viewed %} new{% endif %}">
            <a href="{{ messagesPage|page({'slug':conversation.slug}) }}">
                <div class="media">
                    <!-- show user image -->
                    <img
                        src="{{ conversation.last_message.user.getAvatarThumb('32') }}"
                        class="media-object img-rounded pull-left"
                        alt="{{ conversation.lastmessage.user.name }}"
                    />

                    <!-- show content -->
                    <div class="media-body">
                        <strong>{{ conversation.last_message.user.name }}
                            <small>({{ users.count }}) recipients</small>
                        </strong>
                        <h5>{{ conversation.subject }}</h5>
                        {{ conversation.last_message.body|raw }}
                        <br/>
                        <time class="time" datetime="{{ conversation.updated_at }}">{{ conversation.updated_at }}</time>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
{% else %}
    <li class="placeholder">There are no messages yet.</li>
{% endif %}